Repository V-Sekai/uro: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-credo

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Implement props, server storage, downloads page and misc fixes
  .env.example
  Dockerfile
  config/prod.exs
  frontend/src/app/(static)/download/page.tsx
  frontend/src/components/downloads-table.tsx
  frontend/src/hooks/downloads.ts
  lib/uro/accounts/user_privilege_ruleset.ex
  lib/uro/application.ex
  lib/uro/controllers/map.ex
  lib/uro/controllers/prop.ex
  lib/uro/controllers/storage.ex
  lib/uro/helpers/shared_content_helper.ex
  lib/uro/helpers/validation.ex
  lib/uro/mailer.ex
  lib/uro/plug/require_shared_file_upload_permission.ex
  lib/uro/router.ex
  lib/uro/shared_content.ex
  lib/uro/shared_content/shared_content.ex
  lib/uro/shared_content/shared_file.ex
  lib/uro/uploaders/shared_content.ex
  lib/uro/uploaders/user_content_preview.ex
  lib/uro/uploaders/user_icon.ex
  lib/uro/user_content.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20240628171652_rename_users_inserted_at.exs
  priv/repo/migrations/20250318062426_create_indexes.exs
  priv/repo/migrations/20250326102214_create_sharedfiles.exs
  priv/repo/migrations/20250330000100_add_upload_shared_files_user_privilege.exs
  priv/repo/test_seeds.exs
Due: mix-format, mix-compile, mix-credo

Update page.tsx with Discord link
  frontend/src/app/(static)/download/page.tsx
Due: none

Fix environment variables embedded in builds
  frontend/.env.example
  frontend/src/api.ts
  frontend/src/app/api/env/route.js
  frontend/src/components/captcha.tsx
  frontend/src/components/link.tsx
  frontend/src/environment.ts
  frontend/src/hooks/location.ts
  frontend/src/hooks/return-intent/common.ts
  frontend/src/hooks/return-intent/index.ts
Due: none

Updated verison of #110 to use next-runtime-env for fetching environment.
  frontend/.env.example
  frontend/Dockerfile
  frontend/package.json
  frontend/src/api.ts
  frontend/src/app/api/env/route.js
  frontend/src/app/layout.tsx
  frontend/src/components/captcha.tsx
  frontend/src/components/link.tsx
  frontend/src/environment.ts
  frontend/src/hooks/location.ts
  frontend/src/hooks/return-intent/common.ts
  frontend/src/hooks/return-intent/index.ts
Due: none

direnv, flake, and deps stuff
  .gitignore
  flake.lock
  flake.nix
  mix.exs
  mix.lock
Due: mix-format, mix-credo

Clean up and use next-runtime-env in getServerEnv
  docker-compose.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/src/app/api/env/route.js
  frontend/src/environment.ts
Due: none

Implement generic server storage and misc fixes (#108)
  .env.example
  Dockerfile
  config/prod.exs
  frontend/src/app/(static)/download/page.tsx
  frontend/src/components/downloads-table.tsx
  frontend/src/hooks/downloads.ts
  lib/uro/accounts/user_privilege_ruleset.ex
  lib/uro/application.ex
  lib/uro/controllers/map.ex
  lib/uro/controllers/prop.ex
  lib/uro/controllers/storage.ex
  lib/uro/helpers/shared_content_helper.ex
  lib/uro/helpers/validation.ex
  lib/uro/mailer.ex
  lib/uro/plug/require_shared_file_upload_permission.ex
  lib/uro/router.ex
  lib/uro/shared_content.ex
  lib/uro/shared_content/shared_content.ex
  lib/uro/shared_content/shared_file.ex
  lib/uro/uploaders/shared_content.ex
  lib/uro/uploaders/user_content_preview.ex
  lib/uro/uploaders/user_icon.ex
  lib/uro/user_content.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20240628171652_rename_users_inserted_at.exs
  priv/repo/migrations/20250318062426_create_indexes.exs
  priv/repo/migrations/20250326102214_create_sharedfiles.exs
  priv/repo/migrations/20250330000100_add_upload_shared_files_user_privilege.exs
  priv/repo/test_seeds.exs
Due: mix-format, mix-compile, mix-credo

Updated verison of #110 to use next-runtime-env for fetching environment (#111)
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/api.ts
  frontend/src/app/layout.tsx
  frontend/src/components/captcha.tsx
  frontend/src/components/link.tsx
  frontend/src/environment.ts
  frontend/src/hooks/location.ts
  frontend/src/hooks/return-intent/common.ts
  frontend/src/hooks/return-intent/index.ts
Due: none

workaround Error: Missing environment variable
  frontend/Dockerfile
Due: none

Add next_public env vars
  frontend/Dockerfile
Due: none

remove default from address
  lib/uro/mailer.ex
Due: mix-format, mix-compile, mix-credo

fixed field name in user_content
  lib/uro/user_content/user_content.ex
Due: mix-format, mix-compile, mix-credo

ran mix format
  lib/uro/inventory.ex
  lib/uro/user_content/avatar.ex
  lib/uro/user_content/map.ex
  lib/uro/user_content/prop.ex
  lib/uro/user_content/user_content.ex
Due: mix-format, mix-compile, mix-credo

Allow customizing email from address (needed for sendgrid)
  .env.example
  lib/uro/mailer.ex
Due: mix-format, mix-compile, mix-credo

Changed to stable nix channel
  flake.lock
  flake.nix
Due: none

Prevent confirm-email from redirecting
  frontend/src/hooks/session.ts
Due: none

oops wrong language. I forgot typescript isnt elixir
  frontend/src/hooks/session.ts
Due: none

using one join table
  config/dev.exs
  lib/uro/inventory/backpack.ex
  lib/uro/user_content/avatar.ex
  lib/uro/user_content/map.ex
  lib/uro/user_content/prop.ex
  lib/uro/user_content/user_content.ex
  priv/repo/migrations/20250415153610_add_backpack.exs
  priv/repo/migrations/20250416212637_add_backpack_join.exs
Due: mix-format, mix-compile, mix-credo

Added tests and misc fixes
  config/dev.exs
  config/test.exs
  lib/uro/accounts/user.ex
  lib/uro/inventory/backpack.ex
  lib/uro/user_content/avatar.ex
  lib/uro/user_content/map.ex
  priv/repo/migrations/20250415153610_add_backpack.exs
  priv/repo/migrations/20250416212637_add_backpack_join.exs
  test/backpack_test.exs
  test/support/repo_case.ex
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

removed recode and added live_view deps
  .formatter.exs
  Dockerfile
  assets/css/app.css
  assets/js/app.js
  assets/tailwind.config.js
  assets/vendor/combobox.js
  assets/vendor/mishka_components.js
  assets/vendor/scrollArea.js
  assets/vendor/topbar.js
  flake.nix
  mix.exs
  mix.lock
Due: mix-format, mix-credo

getting live view installed and misc cleanup
  .formatter.exs
  assets/css/app.css
  assets/tailwind.config.js
  config/config.exs
  config/dev.exs
  config/prod.exs
  lib/uro/#endpoint.ex#
  lib/uro/controllers/authentication.ex
  lib/uro/gettext.ex
  lib/uro/inventory/backpack.ex
  lib/uro/plug/choose_auth.ex
  lib/uro/router.ex
  lib/uro/uploaders/shared_content.ex
  lib/uro/uro.ex
  lib/uro_web/components/layouts.ex
  lib/uro_web/components/layouts/app.html.heex
  lib/uro_web/components/layouts/root.html.heex
  lib/uro_web/components/mishka_components.ex
  lib/uro_web/components/table.ex
  lib/uro_web/live/login.live.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

fixing docker release
  .gitignore
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docker-compose.development.yml
  docker-compose.yml
  lib/uro/#endpoint.ex#
  lib/uro/endpoint.ex
  lib/uro/release.ex
  lib/uro/router.ex
  lib/uro/uro.ex
  mix.exs
Due: mix-format, mix-compile, mix-credo

more fixes and live reloading
  assets/css/app.css
  assets/tailwind.config.js
  config/config.exs
  config/dev.exs
  flake.nix
  lib/uro/endpoint.ex
  lib/uro/gettext.ex
  lib/uro_web/components/layouts/app.html.heex
  lib/uro_web/components/layouts/root.html.heex
  lib/uro_web/live/login.live.ex
Due: mix-format, mix-compile, mix-credo

more config fixes
  config/config.exs
  config/runtime.exs
  lib/uro/endpoint.ex
  lib/uro/release.ex
  lib/uro/uro.ex
Due: mix-format, mix-compile, mix-credo

minimal mishka
  .gitignore
  .igniter
  assets/css/app.css
  lib/uro_web/components/alert.ex
  lib/uro_web/components/button.ex
  lib/uro_web/components/email_field.ex
  lib/uro_web/components/form_wrapper.ex
  lib/uro_web/components/icon.ex
  lib/uro_web/components/mishka_components.ex
  lib/uro_web/components/password_field.ex
  lib/uro_web/live/login.live.ex
  mix.exs
  mix.lock
Due: mix-format, mix-compile, mix-credo

Fix missing /props GET endpoints
  lib/uro/router.ex
Due: mix-format, mix-compile, mix-credo

Adds backpacks! (#114)
  .gitignore
  config/dev.exs
  config/test.exs
  flake.lock
  flake.nix
  lib/uro/accounts/user.ex
  lib/uro/inventory.ex
  lib/uro/inventory/backpack.ex
  lib/uro/user_content/avatar.ex
  lib/uro/user_content/map.ex
  lib/uro/user_content/prop.ex
  lib/uro/user_content/user_content.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20250415153610_add_backpack.exs
  priv/repo/migrations/20250416212637_add_backpack_join.exs
  test/backpack_test.exs
  test/support/repo_case.ex
  test/test_helper.exs
Due: mix-format, mix-compile, mix-credo

fixed elixir config setup
  config/config.exs
  config/dev.exs
  config/helpers.exs
  config/runtime.exs
Due: mix-format, mix-credo

regenerated dockerfile from phoenix
  .dockerignore
  Dockerfile
Due: none

ran format and added gitignore
  .gitignore
  config/runtime.exs
  lib/uro/release.ex
Due: mix-format, mix-compile, mix-credo

Add build-time dependency to nextjs service
  docker-compose.yml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
